.col-lg-4 {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
    }
}

@for $i from 1 to 13 {
    .col-#{$i} {
        width: 100%/12*$i !important;
    }
}