$parrafoDesktop: 20px;
$parrafoMobile: 15px;

$vista: mobile;

h1 {font-size: 35px;}
h2 {font-size: 30px;}
h3 {font-size: 25px;}
h5 {font-size: 20px;}
p {font-size: $parrafoDesktop;} 

@if $vista == mobile {
    @media only screen and (max-width: 767px) {
        h1 {font-size: 25px;}
        h2 {font-size: 20px;}
        h3 {font-size: 20px;}
        h5 {font-size: 15px;}
        p {font-size: $parrafoMobile;}
    }
}   

.texto-nav {
    font-size: 25px;
        @media only screen and (max-width: 767px){
            font-size: 20px;
        }
}

.iconos {
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
}

.tamanoH5 {
    font-size: 20px;
    @media only screen and (max-width: 767px) {
        font-size: 15px;
    }
}