$blanco: #f8f9fa;
$grisClaro: #e2e2e2f1;
$negro: black;
$verde: #00420f;
$gris: #6c757d;
$grisOscuro: #343a40;

@import "responsive";

.btn {
    background-color: $gris;
    border-color: $grisOscuro;
    &:hover {
        background-color: $verde;
    }
}

.iconos {color: $grisClaro;}

.icon:hover {color: $verde;}

a {color: $negro;
    text-decoration: none;
    &:hover {
        color: $blanco;
        text-decoration: none;
    }
}

footer {
    background-color: $gris;
}

h5 {color: $grisClaro;}

.texto__titulo--color {
  color: $verde;
}
.texto__parrafo--color {
    color: $grisOscuro;
}

.boton__color {
    background-color: $gris;
    border-color: $grisOscuro;
}

.boton__color--letra {
    color: $verde;
}